body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

canvas{
  inset: 0px;
  width: 100%;
  height: 100%;
}

#root{
  position: absolute;
  inset: 0px;
  margin: 0px;
  padding: 0px;
}

#gameUiContaier{
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
}